 html {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }

  .title {
  	font-size:30px;
  	text-shadow: 3px 3px 3px black, 2px 2px 0px rgba(0,0,0,0.90);
  }
/*The styles below are for the about.html page*/
.bg {
  background: url('https://images.unsplash.com/photo-1459233313842-cd392ee2c388?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 3px 3px;
  background:transparent;
  padding: 10%;

}

.abouttext {
  text-align: left;
  width:650px;
  font-size:20px;
 }

 .aboutlogo {
 margin-left:-65px;
 margin-top:-200px;
 }

/* The styles below will bring shame on my family for generations. PLEASE HELP ME */
/*Also something below here made the login button jump to the center. What could it be?*/
  .auth {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(41, 55, 103, 0.92);
  height: 70vh;
  width: 70vw;
  border: 20px solid #8F6448;
  text-align: center;
}

.login, .register {
  height: max-content;
  width: max-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login h1, .register h1 {
  padding: 5px;
  margin: 20px;
  border: 4px solid #000;
  border-radius: 5px;
}

.login input, .register input {
  margin: 5px;
}

/*These next two tags are for the player's progress bar*/
.seekBase {
  height: 30px;
  width: 90%;
  border: 1px solid #cccccc;
}
.seekLoad {
	height: 30px;
  width: 0;
  background-color: #E0EAF1;
}
