<!DOCTYPE html>
<html ng-app='AudioCurator'>
<head>
	<title></title>
</head>
<body ng-controller="adminCtrl" ng-init="checkIfLoggedIn()">
	<div>
		<h2>Hello, {{currentUser}}.</h2>
		<h1>YOU ARE LOGGED IN</h1>
		<h2> Welcome to the command center. </h2>
		<h3> What are you you listening to now? </h3>
		<form class= "active" ng-submit="postBlog(newPost)">
				<label for="shareUrl">Soundcloud Share URL</label>
				<input id="shareUrl" type="text" ng-model="newPost.trackInfo.shareUrl">
				<label for="body"> AND HOW DOES THAT MAKE YOU FEEL!?</label>
				<input id="body" type="text" ng-model="newPost.body">
				<button type = "submit">Submit</button>
		</form>
		<h3 ng-show='newBlogPost'> Preview: </h3>
		<h4>{{newBlogPost}}</h4>
	</div>
</body>





</html>
