#player-box {
	background-color: #fff;
	border: 5px solid pink;
	box-shadow: 5px 7px 10px #333;
	border-radius: none;
	padding: 6px;
	margin: 10px 0;
	width: 100%;
	height: 160px;
}

#player {
	background-color: #fff;
	color: #fff;
	border: 2px solid pink;
	border-radius: none;
	width: 100%;
	height: 100%;
}

button {
	font-size: 20px;
	color: pink;
	background-color: #fff;
	border-color: #c25a7c;
}
button:hover {
	border-color: pink;
	background-color: #c25a7c;
}
button:focus { 
	outline:0 !important; 
}
#track-name {
	margin: 0 auto;
	padding: 0;
	padding-top: 2px;
	width: max-content;
	text-decoration: underline;
	color: #c25a7c;
}
#play {
	border-radius: 50%;
	width:50px;
	height:50px;
	position: relative;
	right: 20px;
	top: 2px;
}
#shuffle {
	position: relative;
	width: 60px;
	left: 10px;
}

#previous, #next {
	position: relative;
	right: 100px;
	float: right;
	margin: 0 2px;
	top: 6px;
}
#volume-up, #volume-down {
	position: relative;
	float: right;
}
#volume-up {
	left: 70px;
	top: 5px;
}
#volume-down {
	left: 120px;
	top: 62px;
}
#vol-icon {
	color: #c25a7c;
	float: right;
	position: relative;
	top: 45px;
	left: 95px;
}
.progress {
	height: 8px;
	max-width: 70%;
	margin: 30px auto 10px;
	background-color: pink;
}
.progress-bar-info {
    background-color: #c25a7c;
}
.progress-label {
	color: #c25a7c;
	float: left;
    position: relative;
    top: 55px;
    left: 15%;
}
.progress-label-after {
	color: #c25a7c;
    float: right;
    position: relative;
    top: 55px;

}

.glyphicon-random {
	position: relative;
	top: 0;
	left: 0;
}

@media (max-width: 360px) {
   #shuffle {
   	display: none;
	}
	.progress {
		width: 60%;
	}
	.progress-label {
		right: 15px;	
	}
	.progress-label-after {
		left: 100px;
	}

}
