
#player-box {
	background-color: #222;
	border: 10px outset #555;
	padding: 6px;
	margin: 10px 0;
	width: 100%;
	height: 175px;
}

#player {
	background-color: #222;
	color: #fff;
	border: 2px solid #00ffff;
	border-radius: 4px;
	width: 100%;
	height: 100%;
}

button {
	font-size: 20px;
	color: #00ffff;
	background-color: #333;
}
button:hover {
	border-color: #00ffff;
}
button:focus { 
	outline:0 !important; 
}
#play {
	border-radius: 50%;
	width:50px;
	height:50px;
	position: relative;
	right: 20px;
	top: 6px;
}
#shuffle {
	position: relative;
	width: 60px;
	left: 10px;
}

#previous, #next {
	position: relative;
	right: 100px;
	float: right;
	margin: 0 2px;
	top: 6px;
}
#volume-up, #volume-down {
	position: relative;
	float: right;
}
#volume-up {
	left: 70px;
	top: 5px;
}
#volume-down {
	left: 120px;
	top: 62px;
}
#vol-icon {
	float: right;
	position: relative;
	top: 45px;
	left: 95px;
}
.progress {
	height: 8px;
	max-width: 70%;
	margin: 30px auto 10px;
}
.progress-bar-info {
    background-color: #00ffff;
}
.progress-label {
	float: left;
    position: relative;
    top: 55px;
    left: 15%;
}
.progress-label-after {
    float: right;
    position: relative;
    top: 55px;

}

.glyphicon-random {
	position: relative;
	top: 3px;
}

.marquee {
 border: 5px inset #fff;
 border-radius: 4px;
 width: 70%;
 min-width: 300px;	
 height: 26px;	
 margin: 20px auto 0;
 line-height: 24px;
 overflow: hidden;
 position: relative;
}
.marquee h4 {
 font-size: 18px;		
 position: absolute;
 text-decoration: underline;
 color: #00ffff;
 width: 100%;
 height: 100%;
 margin: 0;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: marquee 15s linear infinite;
 -webkit-animation: marquee 15s linear infinite;
 animation: marquee 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

@media (max-width: 360px) {
   #shuffle {
   	display: none;
	}
	.progress {
		width: 60%;
	}
	.progress-label {
		right: 15px;	
	}
	.progress-label-after {
		left: 100px;
	}

}
