
/* general styles */
html, body {
  height: 100%;
  width: 100%;
  background-color: #222;
}

.nav {
  clear: both;
}
.nav-pills {
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
#header {
  width: 100%;
  height: max-content;
  background-color: #fff;
  border-bottom: 2px solid #00ffff;
}

#trigger {
  background-color: #222;
  color: #fff;
  border-radius: 50%;
  padding: 10px 5px 10px 15px;
  margin-left: -30px;
  float: left;
}
#blog-logo {
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: 0 auto;
}
#blog-logo-slider {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
#blog-title {
  float: right;
}

#slider {
  background-color: #222;
}

#sm-spacer {
  height: 20px;
  background-color: transparent;
}
#lg-spacer {
  height: 100px;
  background-color: transparent;
}
#main {
  background: url(../band.JPG) no-repeat center center fixed;
  background-color: #222;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.well, input, #trigger {
  border: 2px solid #00ffff;
}
.well {
  margin-bottom: 5px;
}



#footer {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  background-color: #222;
  color: #fff;
  z-index: 10;
}
#footerPad {
  height: 30px;
}
#footerNav ul li {
  background-color: #222;
  list-style: none;
}
#footerNav ul li a {
  color: #fff;
}
#footerNav ul li a:hover {
  color: #00ffff;
}

#search {
  width: 80%;
  max-width: 200px;
  color: black;
}
#footerSocialMedia {
  height: 100px;
  border-right: 2px solid #00ffff;
  border-left: 2px solid #00ffff;
}

#copyright {
  margin-top: 20px;
} 

.nav-pills>li+li {
  margin-bottom: 20px; // 2px by default
} 
.nav-pills>li.active {
  margin-bottom: 20px;
  background-color: #00ffff;
  color: #222;
}

.nav-pills>li {
  border: 2px solid #00ffff;
  border-radius: 4px;
  background-color: #fff;
}
.nav-pills>li>a {
  padding: 2px 5px;
}
a {
    color: #222;
    text-decoration: none;
    background-color: #fff;
}
a:active {
    color: #222;
    text-decoration: none;
    background-color: #00ffff;
}
a:hover {
    color: #222;
    text-decoration: none;
    background-color: #00ffff;
}
.nav-pills>li.active>a, .nav-pills>li>a:focus, 
.nav-pills>li>a:hover, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #222;
    background-color: #00ffff;
}
#close {
  border-radius: 50%;
  position: relative;
  top: 250px;

}
.btn:focus,.btn:active {
   outline: none !important;
}
#search:focus {
  border-color:#00ffff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

