
/* general styles */
html, body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 700;
  display: inline;
}

.nav {
  clear: both;
}
.nav-pills {
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
#header {
  width: 100%;
  height: max-content;
  background-color: #fff;
  border-bottom: 2px solid #c25a7c;
  box-shadow: 5px 7px 10px #333;
}

#trigger {
  position: absolute;
  top: 150px;
  left: 0;
  cursor: pointer;
  background-color: #fff;
  color: #c25a7c;
  padding: 10px 5px 10px 20px;
  margin-left: -25px;
  float: left;
  font-size: 30px;
  z-index: 10;
  box-shadow: 5px 7px 10px #333;
}
#trigger:hover, #trigger:focus {
  color: pink;
  background-color: #c25a7c;
  margin-left: -15px;
}
span#brand {
  display: inline;
}
#blog-logo {
  width: 120px;
  height: 120px;
  margin: 10px auto;
}
#blog-title {
  width: max-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  color: #c25a7c;
  text-shadow: 2px 2px 8px pink;
  white-space: nowrap; /*Do not seperate title*/
}
#blog-logo-slider {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

#slider {
  background-color: #fff;
}

#sm-spacer {
  height: 20px;
  background-color: transparent;
}
#lg-spacer {
  height: 100px;
  background-color: transparent;
}
#main {
  /*background: url(images/wheat_girl.jpeg) no-repeat center center fixed;*/
  background: url(../images/cherry_tree.jpeg) no-repeat center center fixed;
  background-color: #fff;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.well, input, #trigger {
  border: 2px solid pink;
}
.well {
  margin-bottom: 20px;
  border-radius: 0;
  box-shadow: 5px 7px 10px #333;
}
#footer {
  line-height: 2;
  font-size: 16px;
  padding: 30px 5px 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  color: #fff;
  z-index: 10;
  border-top: 2px solid #c25a7c;
}

#footerNav ul li {
  background-color: #fff;
  list-style: none;
}
#footerNav ul li a {
  color: #c25a7c;
}
#footerNav ul li a:hover {
  color: #c25a7c;
}

#search {
  width: 80%;
  max-width: 200px;
  color: black;
}
i.glyphicon-search {
  color: #c25a7c;
}
#footerSocialMedia {
  height: 100px;
  border-right: 2px solid pink;
  border-left: 2px solid pink;
}

#copyright {
  margin-top: 20px;
} 

.nav-pills>li+li {
  margin-bottom: 20px; // 2px by default
} 
.nav-pills>li.active {
  margin-bottom: 20px;
  background-color: pink;
  color: #222;
}

.nav-pills>li {
  border: 2px solid pink;
  border-radius: none;
  background-color: #fff;
}
.nav-pills>li>a, .nav-pills>li>a:hover {
  padding: 2px 5px;
  border-radius: 0;
}

a {
    color: #222;
    text-decoration: none;
    background-color: #fff;
}
a:active {
    color: #222;
    text-decoration: none;
    background-color: pink;
}
a:hover {
    color: #222;
    text-decoration: none;
    background-color: pink;
}
.nav-pills>li.active>a, .nav-pills>li>a:focus, 
.nav-pills>li>a:hover, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #222;
    background-color: pink;
    border-radius: none;
}
#close {
  border-radius: 50%;
  position: relative;
  top: 250px;

}
.btn:focus,.btn:active {
   outline: none !important;
}
#search:focus {
  border-color:pink;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

