
/* general styles */
html, body {
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  background-color: #222;
  font-family: 'Comfortaa', sans-serif;
}
h1 {
  font-weight: 700;
  display: inline;
}

.nav {
  clear: both;
}
.nav-pills {
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
#header {
  width: 100%;
  height: max-content;
  background-color: #222;
  border-bottom: 2px solid #00ffff;
}
#trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  margin-left: -55px;
  cursor: pointer;
  background-color: #222;
  border-radius: 4px;
  z-index: 10;
}
#trigger:hover, #trigger:focus {
  margin-left: -48px;
}

#menu {
  position: absolute;
  top: 140px;
  left: 0;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  border-radius: 40%;
  padding: 10px 5px 10px 20px;
  margin-left: 30px;
  float: left;
  font-size: 35px;
}
#menu:hover, #menu:focus {
  color: #00ffff;
}

span#brand {
  display: inline;
}
#blog-logo {
  width: 120px;
  height: 120px;
  margin: 10px auto;
}
#blog-title {
  width: max-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  text-shadow: 2px 2px 8px #00ffff;
  white-space: nowrap; /*Do not seperate title*/
}
#slider {
  background-color: #222;
  border: 2px solid #00ffff;
  border-radius: 4px;
  margin-left: -10px;
}

#blog-logo-slider {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

#sm-spacer {
  height: 20px;
  background-color: transparent;
}
#lg-spacer {
  height: 100px;
  background-color: transparent;
}
#main {
  background: url(../images/band.JPG) no-repeat center center fixed;
/*  background: url(../images/red_guitar.jpeg) no-repeat center center fixed;*/
  background-color: #222;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.well, input, #trigger {
  border: 2px solid #00ffff;
}
.well {
  margin-bottom: 10px;
}
#footer {
  line-height: 2;
  font-size: 14px;
  padding-top: 30px;
  border-top: 2px solid #00ffff;
  position: absolute;
  width: 100%;
  background-color: #222;
  color: #fff;
  z-index: 10;
}
#footerNav ul li {
  background-color: #222;
  list-style: none;
}
#footerNav ul li a {
  color: #fff;
  background-color: #222;
}
#footerNav ul li a:hover {
  color: #00ffff;
}

#search {
  width: 80%;
  max-width: 200px;
  color: black;
}
#footerSocialMedia {
  height: 100px;
  border-right: 2px solid #00ffff;
  border-left: 2px solid #00ffff;
}

#copyright {
  margin-top: 20px;
} 

.nav-pills>li+li {
  margin-bottom: 20px; // 2px by default
} 
.nav-pills>li.active {
  margin-bottom: 20px;
  background-color: #00ffff;
  color: #222;
}

.nav-pills>li {
  border: 2px solid #00ffff;
  border-radius: 4px;
  background-color: #fff;
}
.nav-pills>li>a, .nav-pills>li>a:hover {
  padding: 2px 5px;
  border-radius: 4px;
}
a {
    color: #222;
    text-decoration: none;
    background-color: #fff;
}
a:active {
    color: #222;
    text-decoration: none;
    background-color: #00ffff;
}
a:hover {
    color: #222;
    text-decoration: none;
    background-color: #00ffff;
}
.nav-pills>li.active>a, .nav-pills>li>a:focus, 
.nav-pills>li>a:hover, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #222;
    background-color: #00ffff;
}
#close {
  border-radius: 50%;
  position: relative;
  top: 250px;

}
.btn:focus,.btn:active {
   outline: none !important;
}
#search:focus {
  border-color:#00ffff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

